<body style="background-image: url(https://images.pexels.com/photos/7130537/pexels-photo-7130537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-repeat: no-repeat; background-size: cover;">
<div class="container" style="border: 2px solid black;margin-top:30px;width:300px">
<form action="/updateimg" method="post" enctype="multipart/form-data"> 
     <div class="mb-3">
      <label for="disabledSelect" class="form-label">Image</label>
      <input type="file"  name="uploaded_image" accept="">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
 
</form>
</div>


<div class="container" style="border: 2px solid black;margin-top:30px;width:300px">
<form action="/menu" method="post" enctype="multipart/form-data"> 
     <div class="mb-3">
      <label for="disabledSelect" class="form-label">Update Foodmenu</label>
      <input type="file"  name="uploaded_image" accept="">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
 
</form>
</div>


</body>