{{> userHeader}}
<div class="container">
    {{#each result}}
    <div class="boxs">
        <div class="card bg-dark text-white">
  <img style="height: 360px;" class="card-img" src="/images/menu/{{this.noFoodA}}" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title p-4" ></h5>
    <div class="container" style="align-items: center;">
       <h3><b>Mddel</b></h3>
            <p class="card-text"style="color: rgb(7, 8, 8);"><b><i><h1 style="color: rgb(132, 210, 23);"> {{this.f2}}</h1></i>  </b></p>
                   <h3><b>PerDay</b></h3>
                <p class="card-text"style="color: rgb(7, 8, 8);"><b><i><h1 style="color: rgb(132, 210, 23);">{{this.f3}}</h1></i></b></p>  
                    
                      {{!-- <a class="btn btn-outline-info" href="{{this.f1}}">View Location</a> --}}

                      
    </div>
  </div>
</div>
    </div>
       {{/each}}
      